*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: none;
    list-style: none;


}

body{
    background-color: rgba(128, 128, 128, 0.493);
    background-image: url(../img/blur-image.jpeg);
    background-size: cover;
    background-blend-mode: difference;
    height: 100dvh;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* background-color: white; */
    background-image: url(../img/pexels-philippe-donn-1133957.jpg);
    background-size: cover;
    height: 500px;
    width: 800px;
    border-radius: 20px;
}

nav{
    background-color: rgba(128, 128, 128, 0.658);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

ul{
    display: flex;
}

nav .logo{
    color: white;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav .logo span{
    color: rgb(245, 171, 0);
}

nav ul li{
    background-color: transparent;
    color: rgb(43, 42, 42);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 10px;
}
li:hover{
    background-color: gray;
    color: lightgray;
}
nav ul .file{
    padding: 10px 25px;
}

.upload-window{
    background-color: blue;
    height: 200px;
    width: 200px;
}